.mainMovie{
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 1rem;
}

.mainMovie .title{
    text-transform: uppercase;
}

.categories{
    display: flex;
    gap: 1rem;
    font-size: 2rem;
    align-items: center;
}

.imdb{
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.imdb svg{
    width: 4rem;
    height: 4rem;
}