.title {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.title a:hover {
  transform: scale(1.2);
}

.title a > svg {
  width: 3rem;
  height: 3rem;
  margin-top: 9px;
}

.allMovies {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.moviesList {
  display: flex;
  gap: 2rem;
  justify-content: flex-start;

  overflow-x: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */

  scroll-behavior: smooth;
}

.moviesList::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

.commands {
  display: flex;
  justify-content: space-between;
}

@keyframes bounce {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(2);
  }
}
